/*notion_DB_page_view*/
/*.notion-peek-renderer > div:nth-of-type(2)*/


/* frame */
.notion-peek-renderer > div:nth-of-type(2){
	top:25px !important;
	height: calc(100% - 50px) !important
}



/*page_title*/
.notion-peek-renderer > div:nth-of-type(2) .notion-page-block.notion-selectable > .notranslate {
	font-size: 24px !important;
	padding-bottom: 15px !important;
	border-bottom: 2px solid #eee;
	color:red;
}

/*relation_record_page_icon*/
.notion-peek-renderer > div:nth-of-type(2) .notion-record-icon {
	opacity: 0.5;
	zoom: 0.6;
}

/*keys_area*/
.notion-peek-renderer > div:nth-of-type(2) div:nth-of-type(2) > div > div:nth-of-type(2) > div > div:nth-of-type(1) > div > div:nth-of-type(1) > div:nth-of-type(n) > div > div:nth-of-type(1) * {
	font-size: 11.5px !important;
	font-weight: bold;
	color: #aaa;
	max-width: 130px;
}


.notion-default-overlay-container.notion-overlay-container > div > div > div > div > div > div > div > div > .vertical.notion-scroller > .vertical.notion-scroller > div:nth-of-type(2) > div:nth-of-type(n) > div {
	zoom: 0.7 !important;
	opacity: 0.7 !important;
	margin-left: 20px !important
}

.notion-peek-renderer > div:nth-of-type(2) div:nth-of-type(2) > div > div:nth-of-type(2) > div > div:nth-of-type(1) > div > div:nth-of-type(1) > div:nth-of-type(n) > div > div:nth-of-type(2) *[style*="color: rgba(55, 53, 47, 0.4)"] {
	color: #ddd !important;
	text-transform: lowercase;
}

/*page_content_area*/
.notion-peek-renderer > div:nth-of-type(2) .notion-page-content {
	color: black !important;
}
